<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hyc.telehealth.fileserver.mapper.CmsAdMapper">
  <resultMap id="BaseResultMap" type="hyc.telehealth.fileserver.model.CmsAd">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image_href" jdbcType="VARCHAR" property="imageHref" />
    <result column="image_name" jdbcType="VARCHAR" property="imageName" />
  </resultMap>
</mapper>